bin

*.jar
!dev_station_raspi/watchmen.jar
dev_station_raspi/applications

*.exe
*.zip
*.gz


dev_station_router/**/*.conf
dev_station_router/**/*.key
dev_station_router/**/*.psk

DevStationClientPack/images
DevStationClientPack/synchole
DevStationClientPack/x2goclient



